@import "../../index.scss";

h1 {
  margin: 100px 0 30px 0;
}

.all-products-btn {
  height: 50px;
  width: 150px;
  margin: 100px auto;

  // ALIGN ICONS
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 10px;
  color: white;
  background-color: #231f20;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;

  row-gap: 80px;

  column-gap: 20px;
  justify-content: space-between;
}
