@import "../../index.scss";

.featured-section {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h1 {
    font-size: 40px;
  }

  .button-link {
    margin: auto;

    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #009444;
  }

  .featured-section-grid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    @include rwd("550px") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include rwd("800px") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include rwd("1200px") {
      grid-template-columns: repeat(4, 1fr);
    }

    .featured-product-card {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;

      .img-container {
        width: inherit;
        aspect-ratio: 3 / 4;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: gray;
        text-decoration: none;

        img {
          width: 50%;
        }
      }

      div {
        h2,
        span {
          margin: 0;
          color: black;
        }
      }
    }
  }

  .alt {
    grid-template-columns: repeat(3, 1fr);

    .featured-category-card {
      .img-container {
        width: inherit;
        aspect-ratio: 1 / 1;
        background-color: gray;
      }
    }
  }
}
