@import "../../index.scss";

.cart {
  position: relative;
  margin-top: 130px;
  // min-height: 90vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  button {
    border-radius: 10px;
    border: none;
  }

  .default-margin {
    width: inherit;
  }

  .checkout-window {
    position: fixed;

    left: 50%;
    transform: translate(-50%, 0);

    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;

    display: flex;
    flex-direction: column;

    @include mobile {
      width: 100%;
      height: 85vh;
      // margin: 0 20px;
    }

    @include tablet {
      width: 60%;
      height: 700px;
    }

    @include desktop {
      width: 40%;
    }

    .bottom {
      margin-top: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 40px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: #231f20;
        color: #ffffff;
      }
    }
  }

  .cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 30px;

    .product {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      padding-bottom: 30px;

      border-bottom: 1px solid rgb(224, 224, 224);

      @include rwd("800px") {
        flex-direction: row;
        justify-content: space-between;
      }

      a {
        width: 100%;
        display: flex;
        flex-direction: column;

        color: #231f20;

        @include rwd("800px") {
          flex-direction: row;
          width: auto;
        }

        .img-div {
          height: 300px;

          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 10px;
          background-color: #808080;

          @include mobile {
            width: 100%;
          }

          @include rwd("800px") {
            height: 100px;
            width: 100px;
          }

          img {
            height: 200px;

            @include rwd("800px") {
              height: 70px;
            }
          }
        }

        .about-product {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 20px;

          width: 200px;

          @include rwd("800px") {
            margin-left: 20px;
            margin-top: 0;
          }

          .product-name {
            margin: 0;
            font-size: 35px;

            @include rwd("800px") {
              font-size: 25px;
            }
          }

          .weight {
            margin: 0;
            font-size: 20px;

            @include rwd("800px") {
              font-size: 20px;
            }
          }
        }
      }

      .price {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        gap: 10px;

        @include rwd("800px") {
          margin-top: 0;
          width: auto;
          align-items: center;
          flex-direction: column;
          gap: 0;
        }

        p {
          margin: 0;
        }
      }

      .quantity-div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;

        @include rwd("800px") {
          width: auto;
          justify-content: center;
        }

        p {
          font-size: 20px;
        }

        .quantity {
          height: 40px;

          display: flex;
          justify-content: space-between;
          align-items: center;

          // border: 1px solid black;
          border-radius: 10px;
          background-color: #231f20;

          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type="number"] {
            -moz-appearance: textfield;
          }

          input {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            width: 25px;
            border: none;
            pointer-events: none;

            background-color: inherit;
            color: white;
          }

          button {
            // width: 40px;
            // height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            color: white;
            background-color: transparent;
          }
        }
      }

      button {
        // width: 40px;
        // height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        color: rgb(0, 0, 0);
        background-color: transparent;

        @include rwd("800px") {
          margin-left: 0;
        }
      }
    }
  }

  .total {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 50px;

    border-radius: 10px;
    // border: 1px solid rgb(224, 224, 224);

    @include rwd("800px") {
      flex-direction: row;
    }
    .total-par {
      font-size: 45px;
      font-weight: 400;
      margin: 0;
    }

    .price-value {
      font-size: 50px;
      font-weight: 600;
      margin: 0;

      @include rwd("800px") {
        margin: 0 0 0 20px;
      }
    }

    .checkout-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 70px;
      background-color: #231f20;
      color: #ffffff;

      @include rwd("800px") {
        margin: 0 0 0 auto;
      }
    }
  }

  a {
    .continue-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      height: 70px;
      background-color: #231f20;
      color: #ffffff;
    }
  }

  .cart-head {
    margin: 0;
    font-size: 40px;
    color: black;
  }
}
