.home {
  display: flex;
  flex-direction: column;
  gap: 100px;

  .hero-section {
    width: 100%;
    aspect-ratio: 5 / 2;

    background-color: gray;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .brands-section {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      // grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      .brand {
        width: 100%;
        height: 100px;
        background-color: gray;
      }
    }

    .product-cta-section {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .category-card {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        .img-container {
          width: inherit;
          aspect-ratio: 4 / 3;
          background-color: gray;
        }

        div {
          h2,
          span {
            margin: 0;
          }
        }
      }
    }

    .featured-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      h1 {
        margin: 0;
        font-size: 40px;
      }

      .featured-section-grid {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        .featured-product-card {
          width: 100%;

          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 20px;

          .img-container {
            width: inherit;
            aspect-ratio: 3 / 4;
            background-color: gray;
          }

          div {
            h2,
            span {
              margin: 0;
            }
          }
        }
      }

      .alt {
        grid-template-columns: repeat(3, 1fr);

        .featured-category-card {
          .img-container {
            width: inherit;
            aspect-ratio: 1 / 1;
            background-color: gray;
          }
        }
      }
    }

    .home-banner-cta {
      width: 100%;

      aspect-ratio: 5 / 2;

      background-color: gray;
    }
  }

  .contact-section {
    aspect-ratio: 4 / 1;

    background-color: gray;
  }
}
