@import "../../index.scss";

.product-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 320px;

  flex-shrink: 1;
  flex-basis: 320px;

  color: black;

  @include mobile {
    flex-grow: 1;
  }

  @include tablet {
    flex-grow: 0;
  }

  .img-div {
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: #808080;

    cursor: pointer;

    img {
      height: 300px;
    }
  }

  .product-info {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .middle {
      p,
      h2 {
        margin: 0;
        cursor: pointer;
      }

      p {
        font-size: 20px;
        font-weight: 300;
        color: grey;
      }
    }

    .bottom {
      display: flex;
      flex-direction: row;

      align-items: center;

      p {
        margin: 0;
        font-size: 30px;
        line-height: 30px;
        font-weight: 500;

        color: #231f20;
      }

      span {
        margin-left: 10px;
        font-size: 20px;
      }

      button {
        height: 60px;
        width: 60px;
        margin-left: auto;

        // ALIGN ICONS
        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        border-radius: 50%;
        color: white;
        background-color: map-get($palette, darkBrown);
      }
    }
  }
}
