@import "../../index.scss";

.products {
  position: relative;
  min-height: 100vh;
  margin-top: 30px;

  .default-margin {
    width: 100%;

    display: flex;
    flex-direction: row;
  }

  .left {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 75px;

    .filters {
      position: sticky;
      top: 131px;

      h2 {
        margin: 0;
      }

      .filter-section {
        // margin: 10px 0;

        display: flex;
        flex-direction: column;

        .filter-section-child {
          display: flex;
          gap: 10px;
          align-items: center;

          p {
            margin: 5px 0;
          }

          input {
            cursor: pointer;
          }
        }
      }
    }

    @include mobile {
      display: none;
    }

    @include rwd("1280px") {
      display: flex;
    }
  }

  .right {
    margin-left: auto;
    display: flex;
    flex-direction: column;

    gap: 30px;

    .path {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;

      a {
        margin: 0;
        color: #231f20;
      }

      p {
        margin: 0;
      }
    }

    h1 {
      margin: 0;
      font-size: 60px;
      color: #009444;
    }

    p {
      margin: 0;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 30px;
    }

    .products-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 80px;

      @include tablet {
        // column-gap: 40px;
        justify-content: space-between;
      }

      @include rwd("1450px") {
        column-gap: 80px;
        justify-content: flex-start;
      }
    }

    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 80%;
    }
  }
}
