@import "../../index.scss";

.home-banner {
  margin-top: 100px;
  min-height: 350px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  background-color: rgb(245, 122, 122);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://pixabay.com/get/gad353ca15f252f10cc3275cff200ad561d3bc18059893989154c2f92e08105730b5c992794ee79ddbe9dbe4ba3fec22e51d547110352269c4768f26a88001d4c_1920.jpg");
  background-size: "cover";
  background-position: 0 750px;
  // background-repeat: no-repeat;

  text-align: center;

  cursor: pointer;

  h1 {
    margin: 0;
    width: 80%;

    color: white;

    @include mobile {
      font-size: 30px;
    }

    @include tablet {
      font-size: 40px;
    }

    @include desktop {
      font-size: 50px;
    }
  }
}
