.home-banner {
  margin-top: 100px;
  height: 350px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  background-color: rgb(245, 122, 122);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://pixabay.com/get/g36739737d4a4fb825dae6a39b80ae285431abbf1f61f6621e67228d4e48ae770f40388a801464160c29befcc231654a0e165c6be94a2cc7fc960572ad87b3c93_1920.jpg");
  background-size: "cover";
  background-position: center;
  // background-repeat: no-repeat;

  cursor: pointer;

  h1 {
    margin: 0;
    color: white;
  }
}
